.a1{
    background-color: aqua;
}
.a2{
    background-color: gold;
}
.a3{
    background-color: burlywood;
}

.b1{
    width: 70%;
    height: 100%;
    background-image: url('img1.jpg');
}
.b2{
    width: 70%;
    height: 100%;
    background-image: url('img2.jpg');
}
.b3{
    width: 70%;
    height: 100%;
    background-image: url('img3.jpg');
}
.c1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    font-size: 30px;
    font-variant: small caps;
    font-weight: bolder;
}
.c2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: xx-larger;
    font-variant: normal;
    font-weight: bold;
}
.c3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 25px;
    font-weight: lighter;
}
